* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  background: #bfd7e4;
  padding: 4rem;
}

input {
  padding: 5px;
}

h1,
legend {
  font-family: "Staatliches", sans-serif;
}

body::before {
  content: "";
  height: 29rem;
  width: 100%;

  background: #293241;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0rem 0rem 2rem;
}

header p {
  height: 2.87rem;
}

header h1 {
  font-size: 2.25rem;
}

.form-intro::before {
  content: "";
  width: 46.87rem;
  height: 8.3rem;

  background: #f67669;

  position: absolute;
  z-index: -1;

  border-radius: 1.25rem 1.25rem 0px 0px;
}

.form-intro {
  width: 46.85rem;
  margin: auto;
}

.form-intro h1 {
  margin: auto;
  padding: 3.1rem 17rem;

  color: #fff;

  font-size: 1.5rem;
  line-height: 2.1rem;
  font-weight: 400;
}

form {
  padding: 1.9rem 4rem 4.1rem;
  background: #fff;

  border-radius: 0rem 0rem 1.25rem 1.25rem;
}

fieldset {
  border: none;
}

.input-wrapper label {
  display: block;
  margin-bottom: 0.5rem;
  color: #4e4958;
}

.input-wrapper label span {
  color: #c1bccc;
  line-height: 1.25rem;
}

.input-wrapper input,
textarea {
  height: 3.5rem;
  width: 18.75rem;

  background: #e6e6f0;

  border: none;
  border-radius: 0.5rem;
}

.input-info {
  display: flex;
  gap: 1.3rem;
}

#input-email {
  width: 100%;
  margin-bottom: 1.9rem;
}

.label-email {
  margin-top: 1.18rem;
}

.reader-information {
  color: #253b51;

  width: 100%;

  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;

  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 0.5rem;

  margin-bottom: 2rem;
}

.leader-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

textarea {
  width: 100%;
  padding: 0.62rem;
  height: 10.37rem;

  resize: none;
}

.input-check label::before {
  content: '';
  width: 24px;
  height: 24px; 

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.input-check input {
  opacity: 0;
}

.input-check label {                  
  color: #4e4958;

  display: flex;
  gap: 0.5rem;

  font-size: 0.85rem;
  line-height: 1.5rem;
}


.input-check input:checked + label::before {
  background: url("/images/Vector\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: center;
}

.scheduling-mentoring {
  margin: 2.25rem 0px 3.9rem;
}

.next-mentoring {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-timer {
  max-width: 8.75rem;
}

.input-submit {
  width: 100%;
  padding: 0.75rem 17.87rem;

  border-radius: 0.5rem;
  border: none;

  background: #f67669;
  color: #fff;

  font-size: 1.25rem;
  line-height: 1.62rem;
  font-family: "Staatliches", sans-serif;
}
